<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
  <a ui-sref="{{pageTop.config.defaultState}}" class="al-logo clearfix"><span ng-bind="::pageTop.config.applicationTitle"></span></a>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <!--<img ng-src="{{::( 'Nasta' | profilePicture )}}">-->
        <i class="fa fa-user"></i>
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/profile"><i class="fa fa-user"></i>{{::'USER.PROFILE'|translate}}</a></li>
        <li><a ui-sref="signout" class="signout"><i class="fa fa-power-off"></i>{{::'USER.SIGNOUT'|translate}}</a></li>
      </ul>
    </div>
  </div>
</div>