<p class="row text-center hidden-xs">
  <img ng-src="{{signin.simulator_config.logoImageURL}}"/>
</p>
<main class="auth-main panel">
  <div class="auth-block panel-body">
    <h1>{{::'SIGNIN.SIMULATOR_SIGNIN'|translate}}</h1>
    <a href="reg.html" class="auth-link">{{::'SIGNIN.NEW_ACCOUNT_REGISTER'|translate}}</a>

    <form class="form-horizontal" ng-model="signin.user" ng-submit="signin.submit()">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">{{::'SIGNIN.EMAIL'|translate}}</label>

        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="{{::'SIGNIN.EMAIL'|translate}}" ng-model="signin.user.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">{{::'SIGNIN.PASSWORD'|translate}}</label>

        <div class="col-sm-8">
          <input type="password" class="form-control" id="inputPassword3" placeholder="{{::'SIGNIN.PASSWORD'|translate}}" ng-model="signin.user.password">
        </div>
      </div>

      <div class="form-group" ng-if="signin.message">
        <div class="col-sm-offset-4 col-sm-8">
            <span class="text-danger" ng-bind="signin.message"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary btn-auth">{{::'SIGNIN.LOGIN_BTN'|translate}}</button>
          <a href class="forgot-pass">{{::'SIGNIN.FORGOT_PASSWORD'|translate}}</a>
        </div>
      </div>

    </form>

    <!--<div class="auth-sep"><span><span>or Sign in with one click</span></span></div>-->

    <!--<div class="al-share-auth">-->
      <!--<ul class="al-share clearfix">-->
        <!--<li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>-->
        <!--<li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>-->
        <!--<li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</main>