<div class="modal-content profile-modal col-xs-12">
  <form name="passwordResetForm" novalidate>
    <!--<div ng-include="'app/pages/profile/profileTemplate/password.html'"></div>-->
    <h4 class="with-line text-right">{{::'USER.PROFILE_PAGE.CHANGE_PASSWORD'|translate}}</h4>
    <div class="row">
      <div class="col-xs-12 col-md-6 pull-left">
        <div class="form-group row clearfix">
          <label for="" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.OLDPASSWORD'|translate}}</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" name="orgPassword"
                   placeholder="{{::'USER.PROFILE_PAGE.OLDPASSWORD'|translate}}"
                   ng-model="passwordModal.user.orgPassword" required>
            <div ng-messages="passwordResetForm.orgPassword.$error">
              <!--<div ng-message="required">{{::'GENERAL.REQUIRED'|translate}}</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 pull-left">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.PASSWORD'|translate}}</label>

          <div class="col-sm-9">
            <input type="password" name="newPassword" class="form-control" id="inputPassword" placeholder="{{::'USER.PROFILE_PAGE.PASSWORD'|translate}}" ng-model="passwordModal.user.newPassword">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 pull-left">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.CONFIRM_PASSWORD'|translate}}</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
                   placeholder="{{::'USER.PROFILE_PAGE.CONFIRM_PASSWORD'|translate}}"
                   ng-pattern="{{passwordModal.user.newPassword}}" ng-model="passwordModal.$newPasswordConfirm" required>
            <div ng-messages="passwordResetForm.$error" class="text-danger">
              <div ng-message="pattern">{{::'USER.PROFILE_PAGE.PASSWORD_DONOT_MATCH'|translate}}</div>
              <!--<div ng-message="required">{{::'GENERAL.REQUIRED'|translate}}</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span class="col-md-7 text-right text-{{passwordModal.alert.type}} pull-left" ng-if="passwordModal.alert" ng-bind="passwordModal.alert.msg">
      </span>
      <span class="col-md-5 pull-right">
          <button class="btn btn-primary btn-with-icon" ng-disabled="passwordResetForm.$invalid" ng-click="passwordModal.changePassword(passwordResetForm)" >
            <i class="ion-android-checkmark-circle"></i>{{::'USER.PROFILE_PAGE.UPDATE_PASSWORD'|translate}}
          </button>
          <button class="btn btn-primary btn-with-icon" ng-click="passwordModal.$uibModalInstance.close()">
            {{::'GENERAL.CANCEL'|translate}}
          </button>
      </span>
    </div>

  </form>
</div>