
body.signin.flip {

  .al-main {
    margin-right: 0;
  }

}

.auth-main {

  button.btn-auth {
    float: left;
  }

  a.forgot-pass {

    text-align: left;

    float: right;

  }
  .al-share-auth {
    .al-share {
      li {
        margin-right: 24px;
        &:first-child {
          margin-right: 0;
        }

      }
    }
  }
  .control-label {
    float: right;
  }
}