<p class="row text-center hidden-xs">
  <a ng-href="signin.simulator_config.logoImageLinkURL">
    <img ng-src="{{forgot.simulator_config.logoImageURL}}"/>
  </a>
</p>
<main class="auth-main">
  <div class="auth-block panel-body">
    <h1>{{::'AUTH.FORGOT_PASSWORD'|translate}}</h1>
    <a ui-sref="signin" class="auth-link">{{::'AUTH.REMEMBER_PASSWORD'|translate}}</a>
    
    <form class="form-horizontal" name="forgotPassword" ng-model="forgot.user" ng-submit="forgot.submit()" novalidate>

      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{::'AUTH.EMAIL'|translate}}</label>

        <div class="col-sm-8">
          <input type="email" class="form-control" name="email" ng-model="forgot.user.email" placeholder="{{::'AUTH.EMAIL'|translate}}" required>
        </div>
      </div>

      <div class="form-group" ng-if="forgot.message">
        <div class="col-sm-offset-4 col-sm-8">
          <span class="text-sucess" ng-bind="forgot.message"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 submit-area">
          <button type="submit" class="btn btn-default btn-auth" ng-disabled="forgotPassword.email.$error.required">{{::'AUTH.RESET_PASSWORD_BTN'|translate}}</button>
        </div>
      </div>
    </form>
  </div>
</main>