<logo-component></logo-component>
<main class="auth-main">
  <div class="auth-block panel-body">
    <h1>{{::'AUTH.FORGOT_PASSWORD'|translate}}</h1>
    <a ui-sref="signin" class="auth-link">{{::'AUTH.REMEMBER_PASSWORD'|translate}}</a>
    
    <form class="form-horizontal" name="forgotPassword" ng-model="forgot.user" ng-submit="forgot.submit()" novalidate>

      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{::'AUTH.EMAIL'|translate}}</label>

        <div class="col-sm-8">
          <input type="email" class="form-control" name="email" ng-model="forgot.user.email" placeholder="{{::'AUTH.EMAIL'|translate}}" required="required">
          <div class="text-default" ng-messages="forgotPassword.email.$error" role="alert">
            <span class="sub-little-text float-left" ng-message="required" ng-bind="::'GENERAL.REQUIRED'|translate"></span>
            <span class="sub-little-text float-left" ng-message="email" ng-bind="::'AUTH.ERROR.EMAIL'|translate"></span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="forgot.message && !forgot.formChanged">
        <div class="col-sm-offset-4 col-sm-8">
          <span class="text-default" ng-bind="forgot.message"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 submit-area">
          <button type="submit" class="btn btn-default btn-auth" ng-if="!forgot.displayLoginBtn" ng-disabled="forgotPassword.$invalid || !forgot.formChanged">{{::'AUTH.RESET_PASSWORD_BTN'|translate}}</button>
          <a class="btn btn-default btn-auth pull-right" ng-if="forgot.displayLoginBtn" ui-sref="signin">{{::'AUTH.LOGIN_BTN'|translate}}</a>
        </div>
      </div>
    </form>
  </div>
</main>
