<div class="modal-content profile-modal col-xs-12">
    <h2 class="text-center" ng-bind="::'AUTH.INITIAL_PROFILE_SETUP_TITLE'|translate"></h2>
  <form name="userProfileForm" ng-submit="profile.updateProfile(userProfileForm)" novalidate>
      <div ng-include="'app/pages/profile/profileTemplate/general-info.html'"></div>
      <div ng-include="'app/pages/profile/profileTemplate/contact.html'"></div>
      <div ng-include="'app/pages/profile/profileTemplate/exam-date.html'"></div>

<!--    <ul uib-pager total-items="3" ng-model="profile.currentPage"
        items-per-page="1"
        next-text="{{::profile.buttons.next}}"
        previous-text="{{::profile.buttons.prev}}"></ul>-->

    <span class="text-{{profile.getAlertType()}} pull-left" ng-if="profile.alert" ng-bind="profile.alert.msg">
    </span>

    <button type="submit" class="btn btn-primary btn-with-icon">
      <i class="ion-android-checkmark-circle"></i>{{::'USER.PROFILE_PAGE.UPDATE_PROFILE'|translate}}
    </button>
  </form>
</div>
<!--
<welcome ng-if="profile.user && !profile.user.firstLogin" user="profile.user" config="profile.simulatorConfig"></welcome>-->
