.exam-distribution {
  .form-group {
    ul {
      display: inline;
      list-style-type: none;

      > li {
        width: 100%;
      }
    }
  }
}
.predefined-exam-component {
  .timeFrame {
    > ul {
      padding: 0;
      list-style-type: none;
    }
  }
}
practices-grade.repeated-practice-view {
  .amChart {
    height: 500px!important;
  }
}