.exam-distribution {
  .form-group {
    ul {
      display: block;
      list-style-type: none;

      > li {
        width: 100%;
      }
    }
  }
}
.predefined-exam-component {
  .timeFrame {
    > ul {
      padding: 0;
      list-style-type: none;
    }
  }
  .panel-body {
    position: relative;
  }
  .panel-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99;
    left: 0;
    right: 0;

    p {
      vertical-align: middle;
      color: #fff;
      position: relative;
      font-size: 16px;
      padding: 0;
      top: 45%;
      text-align: center;;
    }
  }
  .navigate2Exam {
    position: absolute;
    bottom: 0;
    right: 0;
    left:auto;
    margin: 22px;
  }
}
practices-grade.repeated-practice-view {
  .amChart {
    height: 500px!important;
  }
}
body.flip {
  .predefined-exam-component {
    .navigate2Exam {
      left: 0;
      right: auto;
    }
  }
}