@import "../components/_charts.scss";

.practice-summary {

  .charts {
    overflow: hidden;
    display: block;
  }

  #examGradeGauge {

  }

  #timeCylinder {
    width: 210%;
    right: -60%;

    @include cylinderChart();
  }
  #categoriesGradeChart {
    height: 380px;
  }
  .action-buttons {
    margin-bottom: 25px;

    a.btn-info {
      width: 33%;
      margin-top: 8px;

      @media screen and (max-width: $resS) {
        width: 100%;
      }
      @media screen and (min-width: $resS) and (max-width: $resL) {
        width: 40%;
      }
    }
  }

  table{
    tr.bold {
      font-weight:bold;
    }
  }
}

