@import "../components/_charts.scss";

.practice-summary {

  .charts {
    overflow: hidden;
    display: block;
  }

  #examGradeGauge {

  }

  #timeCylinder {
    width: 210%;
    right: -60%;

    @include cylinderChart();
  }
  #categoriesGradeChart {
    height: 380px;
  }
  .action-buttons {
    margin-bottom: 25px;

    a.btn-info {
      width: 100%;
      margin-top: 8px;
    }
  }
}

