.online-manual-component {
  .panel {
    height: 200px;
    position: relative;

    p {
      label {
        white-space: normal;
        overflow: hidden;

        &:after {
          content: ''
        }
      }
    }
    .panel-heading {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 85%;
        white-space: nowrap;
      }
    }
    .panel-body {
      position: relative;
      min-height: 90px;
      padding: 10px;
      max-height: 140px;
      overflow-x: scroll;
    }
    .panel-overlay {
      position: relative;
      top: 0;
      bottom: 0;
      //background: rgba(0,0,0,0.7);
      z-index: 99;
      left: 0;
      right: 0;

      p {
        vertical-align: middle;
        //color: #fff;
        position: relative;
        font-size: 16px;
        padding: 0;
        top: 45%;
        text-align: center;;
      }
      ul > li {
        //color: white;
      }
      label {
        //color: white;
        padding: 10px 15px;
      }
    }
  }
  .btn.displayDoc {
    position: absolute;
    bottom: 30px;
    left: 22px;
  }
}
.manuals-page {
  .grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .online-manual-component {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
  }

  .grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
  }

  .filter-buttons {
    .btn {
      width: 130px;

      &.active {
        box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.4);
      }
    }
  }

}

ul.dynamic-grid > li.grid {
  list-style-type: none;

}
