.online-manual-component {
  .panel {
    height: 200px;
    position: relative;

    .btn.displayDoc {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 25px;
    }
    p {
      label {
        white-space: normal;
        overflow: hidden;
        height: 65px;

        &:after {
          content: ''
        }
      }
    }
  }
}