<p class="row text-center hidden-xs">
    <a ng-href="signin.simulator_config.logoImageLinkURL">
        <img ng-src="{{forgot.simulator_config.logoImageURL}}"/>
    </a>
</p>
<main class="auth-main">
    <div class="auth-block panel-body">
        <h1>{{::'AUTH.CHANGE_PASSWORD_TEMP'|translate}}</h1>

        <form class="form-horizontal" name="passwordResetForm" novalidate>

            <div class="row">
                <div class="col-xs-12 pull-left">
                    <div class="form-group row clearfix">
                        <label for="" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.OLDPASSWORD'|translate}}</label>

                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="orgPassword"
                                   placeholder="{{::'USER.PROFILE_PAGE.OLDPASSWORD'|translate}}"
                                   ng-model="passChange.user.orgPassword" required>
                            <div ng-messages="passwordResetForm.orgPassword.$error">
                                <div ng-message="required">{{::'GENERAL.REQUIRED'|translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pull-left">
                    <div class="form-group row clearfix">
                        <label for="inputPassword" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.PASSWORD'|translate}}</label>

                        <div class="col-sm-9">
                            <input type="password" name="newPassword" class="form-control" id="inputPassword"
                                   placeholder="{{::'USER.PROFILE_PAGE.PASSWORD'|translate}}" ng-model="passChange.user.newPassword" required/>
                            <div ng-messages="passwordResetForm.newPassword.$error">
                                <div ng-message="required">{{::'GENERAL.REQUIRED'|translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pull-left">
                    <div class="form-group row clearfix">
                        <label for="inputConfirmPassword" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.CONFIRM_PASSWORD'|translate}}</label>

                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
                                   placeholder="{{::'USER.PROFILE_PAGE.CONFIRM_PASSWORD'|translate}}"
                                   ng-pattern="^{{passChange.user.newPassword}}$" ng-model="passChange.$newPasswordConfirm" required/>
                            <div ng-messages="passwordResetForm.confirmPassword.$error">
                                <div ng-message="pattern">{{::'USER.PROFILE_PAGE.PASSWORD_DONOT_MATCH'|translate}}</div>
                                <div ng-message="required">{{::'GENERAL.REQUIRED'|translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="text-{{passChange.alert.type}} pull-left" ng-if="passChange.alert" ng-bind="passChange.alert.msg">
            </span>

            <button type="submit" ng-click="passChange.changePassword(passwordResetForm)" class="btn btn-primary btn-with-icon pull-right" ng-disabled="passwordResetForm.$invalid">
                <i class="ion-android-checkmark-circle"></i>{{::'USER.PROFILE_PAGE.UPDATE_PASSWORD'|translate}}
            </button>
        </form>
    </div>
</main>