$_right_-space: 240px;
body.flip {

  direction: rtl!important;

   overflow-x: hidden;
  .al-main {
    margin-right: $_right_-space;
    margin-left: 0;
  }
  .menu-collapsed {
    .al-main {
      margin-right: 50px;
      margin-left:0;
    }
  }
  @media all and (orientation: portrait) {
    &.mobile {
      .menu-collapsed .al-main {
        //margin-right: 0!important;
      }
    }
  }


  .al-footer {
    padding: 0px $_right_-space 0 18px;
  }

  .al-footer-main {
    float: right;
    margin-right: 15px;
  }

  .al-copy {
    float: right;
  }

  .al-footer-left {
    float: left;
    margin-left: 12px;
    margin-right: 0;

    a {
      margin-right: 4px;
      margin-left: 0
    }
  }

  .al-share {
    margin: -6px 12px 0 0;
    float: right;
    li {

      float: right;
      margin-right: 16px;
      margin-left: 0;
    }
  }

  .vis-hidden {
    right: -9999px;
  }

  .content-panel {
    padding-right: 22px;
    padding-left: 0;
  }

  @media (max-width: 590px) {
    .al-footer-left {
      margin-left: 0;
    }
  }
  
  .text-left {
    text-align: right;
  }
  .text-right {
    text-align: left;
  }
  .float-left {
    float: right;
  }
  .float-right {
    float: left;
  }
}