.stats {
  .chartBottomMargin {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%
  }
}
.amChart {
  width: 100%;
  font-size: 11px;
  position: relative;
}
.amcharts-chart-div {
  a[title="JavaScript charts"] {
    top: 0 !important;
    left: 0 !important;
    font-size: 9px!important;
  }
}
#categoriesCorectIncorect,
#practiceTypeGrades,
#userRankChart,
#practicesGradeChart,
#timeCylinder {
  height: 300px;
}

#questionsQuotaChart {
  height: 275px;
  width: 225%;
  right: -70%;

  @media all and (min-width: 640px) and (max-width:991px) {
    width: 180%;
    right: -44%;
  }
}