@mixin cylinderChart() {
  @media all and (min-width: 992px) and (max-width:1080px) {
    width: 230%;
    right: -72%;
  }
  @media all and (min-width: 940px) and (max-width:991px) {
    width: 150%;
    right: -29%;
  }
  @media all and (min-width: 840px) and (max-width:939px) {
    width: 150%;
    right: -29%;
  }
  @media all and (min-width: 740px) and (max-width:839px) {
    width: 160%;
    right: -35%;
  }
  @media all and (min-width: 640px) and (max-width:739px) {
    width: 180%;
    right: -44%;
  }
  @media all and (min-width: 460px) and (max-width:639px) {
    width: 230%;
    right: -70%;
  }
  @media all and (min-width: 400px) and (max-width:459px) {
    width: 270%;
    right: -94%;
  }
  @media all and (min-width: 350px) and (max-width:399px) {
    width: 300%;
    right: -106%;
  }
  @media all and (min-width: 300px) and (max-width:349px) {
    width: 340%;
    right: -128%;
  }
  @media all and (max-width:299px) {
    width: 360%;
    right: -138%;
  }
}

.stats {
  .chartBottomMargin {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%
  }
  .user-quota {
    overflow: hidden;
  }

}
.amChart {
  width: 100%;
  font-size: 11px;
  position: relative;
}
.amcharts-chart-div {
  a[title="JavaScript charts"] {
    top: 0 !important;
    left: 0 !important;
    font-size: 9px!important;
  }
}
.user-quota-panel {
  overflow: hidden;

}

#userRankChart,
#practiceTypeGrades,
#timeCylinder,
#packageQuota {
  height: 400px;
}
#practicesGradeChart {
  height: 400px;
}
#categoriesCorectIncorect {
  height:340px;
}
#categoriesCorectIncorectLegend {
  position: relative;;
  bottom:0;
}
#questionsQuotaChart {
  height: 400px;
  width: 100%;
 /* right: -55%;

  @include cylinderChart();*/
}
#categoriesGradeChart {
  height: 500px;
}