.exam-remote {
  position: fixed !important;
  top: 140px;
  bottom: 30px;
  left: 0;
  width: 160px;
  overflow: hidden;
  direction: ltr;

  &.panel > .panel-body {
    padding: 15px;
  }

  .exam-nav.buttons {
    position: absolute;
    margin: 0 auto;
    width: 130px;
    right: 0;
    overflow-y: scroll;
    left: 0;
    height: 100%;
    padding-bottom: 80px;
  }

  .remote-btn-small {
    margin: 3px;
    width: 35px;
    height: 35px;
    padding: 0px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      //border: 1px solid $success;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
    }
    &.answered,
    &.answered:hover,
    &.answered.active,
    &.answered.active:hover {

      background: $success;
      color: $default;
      border: 1px solid $success;
    }
  }

  .arrows {
    background: #fff;
    width: 150px;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    .btn {

      i {
        //font-size: 18px;
      }
    }

    .invisible {
      visibility: hidden;
    }
  }
}
