.exam-remote {
  position: fixed !important;
  top: 140px;
  bottom: 30px;
  right: 0px;
  width: 160px;
  overflow: hidden;
  direction: ltr;
  margin-right: 20px;

  &.solution {
    bottom:0;
  }

  &.panel > .panel-body {
    padding: 15px;
  }

  .exam-nav.buttons {
    position: absolute;
    margin: 0 auto;
    width: 130px;
    right: 0;
    overflow-y: scroll;
    left: 0;
    height: 100%;
    padding-bottom: 200px;
  }

  .remote-btn-small {
    margin: 3px;
    width: 35px;
    height: 35px;
    padding: 0px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      //border: 1px solid $success;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
    }
    &.answered,
    &.answered:hover,
    &.answered.active,
    &.answered.active:hover {

      background: $success;
      color: $default;
      border: 1px solid $success;
    }

    &.incorrect,
    &.incorrect:hover,
    &.incorrect.active,
    &.incorrect.active:hover {
      background: $danger;
      color: $default;
      border: 1px solid $danger;
    }

  }

  .arrows {
    background: #fff;
    width: 160px;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    .btn {

      i {
        //font-size: 18px;
      }
    }

    ul.nav {
      & > li {
        display: inline-block;
      }
    }

    .invisible {
      visibility: hidden;
    }

    .nav,
    .finish {
        margin-bottom: 15px;

      .export {
        margin-bottom: 10px;
      }
      button.finishExam {
        margin-bottom: 10px!important;
      }
    }
  }

  @media all and (max-width: 768px) {
    position: absolute !important;
    top: auto;
    bottom: 36px;
    width: 100%;
    height: 100px;
    margin: 0!important;

    //panel-disapbled
    background-color: transparent!important;
    box-shadow: none!important;

    .panel-body {
      padding: 0!important;
    }

    .exam-remote {
      padding-left: 0;
      padding-right: 0;
    }
    .btn.remote-btn-small {
      text-align: center;
      padding: 0 7px;
    }

    .exam-nav.buttons {
      position: relative;
      width: 100%;
      float: right;
      right: 0;
      height: 55px!important;
      left: auto;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      z-index: 0;
      //padding-left: 50%;
      padding-bottom: 0;
    }
    .arrows {
      width: 100%;
      background: $body-bg;
      margin-bottom: 10px;
      padding: 10px 0 0 0;

      .nav {
        float: right;
        margin-bottom: 0;
        
        .invisible {
          display: none;
        }
      }
      .finish {
        float: left;
        margin-bottom: 0;

        .btn {
          width: 55px;
          padding: 6px 5px;

          &.finishExam {
            margin-bottom: 0!important;
          }
          &.export {
            margin-bottom: 0;
            width: auto;
            display: none;
          }
        }

      }
    }
  }
  @media all and (min-width: 769px) {
    .arrows {
      .finish {
        .btn {
          width: 100%;
        }
      }
    }
  }
}
