.exam-timeframe {
  position: fixed;
  bottom: 15px;
  left: 240px;
  right: 0px;
  margin: 0 20px;

  .progress {
    margin-bottom: 0;

    .progress-bar {
      font-size: 14px;
      font-weight:bold;

      .text-danger {
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }
}
@media all and (min-width: 769px) {
  .exam-timeframe {
    right: 0px;
    left: 240px;
  }
  .menu-collapsed .exam-timeframe {
    right: 0px;
    left: 50px;
  }
}

@media all and (min-width: 500px) and (max-width: 768px) {
  .exam-timeframe {
    right: 0px;
    left: 50px;
  }
}

@media (max-width: 499px){
  .exam-timeframe {
    right: 0;
    left: 0;
  }
}