.question-area {

  width: 66%;
  top: 140px;
  position: fixed!important;
  bottom: 30px;

  .panel-body {
    overflow: auto;
  }
}
.menu-collapsed {
  .question-area {
    width: 74%;
  }
}
.exam-question {

  .question-option {
    margin-bottom:5px;

    label {
      white-space: normal;
    }
    label.custom-checkbox > input:disabled + span,
    label.custom-radio > input:disabled + span {
      color: $default-text;
    }
  }

  i.help {
    color: orange;
    font-size: 18px;
  }
  .bs-callout {
    float: left;
  }
}
@media all and (max-width: 768px) {

  .question-area {
    width: 100%!important;
    position: relative!important;
    top: 0;
    bottom: auto;
  }
}
