body.flip {
  exam {

    //margin: 0 260px 0 200px;
    margin: 0 260px 0 15px;
  }
  /*.menu-collapsed {
    exam {
      margin: 0 72px 0 200px;
    }
  }*/
  @media all and (min-width: 769px) {
    exam {
      margin: 0 260px 0 200px;
    }
    .menu-collapsed exam {
      margin: 0 72px 0 200px;
    }
  }
  @media all and (min-width: 500px) and (max-width: 768px){

    exam {
      margin: 0 72px 0 20px;
    }
  }
  @media (max-width: 499px){

    exam {
      margin: 0 20px;
    }
  }
}