.question-area {

  width: 66%;
  top: 140px;
  position: fixed!important;
  bottom: 30px;

  .panel-body {
    overflow: auto;
  }
}

.exam-question {

  .question-option {
    margin-bottom:5px;

    label {
      white-space: normal;
    }
    label.custom-checkbox > input:disabled + span,
    label.custom-radio > input:disabled + span {
      color: $default-text;
    }
  }

  i.help {
    color: orange;
    font-size: 18px;
  }
  .bs-callout {
    float: left;
  }
}
@media all and (max-width: 768px) {

  .question-area {
    width: 100%!important;
    position: relative!important;
    top: 0;
    bottom: auto;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px){

  .question-area {
    width: 67%!important;
  }
  .menu-collapsed {
    .question-area {
      width: 67%!important;
    }
  }
}
@media all and (min-width: 1025px) and (max-width: 1200px){

  .question-area {
    width: 75%!important;
  }
  .menu-collapsed {
    .question-area {
      width: 80%!important;
    }
  }
}
@media all and (min-width: 1201px) and (max-width: 1600px){

  .question-area {
    width: 70%!important;
  }
  .menu-collapsed {
    .question-area {
      width: 90%!important;
    }
  }
}
