body.flip {
  .question-area {

    margin-left: 0;
  }

  .exam-question {

    .questionID {
      position: absolute;
      bottom: 0;
      left: 0;
      right: auto;
      padding: 22px 44px;
      color: lightgray;
    }
  }
}