.exam-timeframe {
  position: fixed;
  bottom: 15px;
  left: 240px;
  right: 0px;
  margin: 0 20px;

  .progress {
    margin-bottom: 0;

    .progress-bar {
      font-size: 14px;
      font-weight:bold;

      .text-danger {
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }
}
.menu-collapsed {
  .exam-timeframe {
    left: 50px;
  }
}