.exam-timeframe {
  position: fixed;
  bottom: 15px;
  right: 180px;
  left: 0px;
  margin: 0 25px 0 15px;

  .progress {
    margin-bottom: 0;
  }
}
.menu-collapsed {
  .exam-timeframe {
    right: 50px;
  }
}