<!--<h3 class="with-line text-left">{{::'USER.PROFILE_PAGE.GENERAL_INFO'|translate}}</h3>-->
<div class="row">
    <div class="col-xs-12 col-md-10 pull-left">
        <div class="form-group row clearfix">
            <label for="" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.FIRST_NAME'|translate}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="firstName" placeholder="{{::'USER.PROFILE_PAGE.FIRST_NAME'|translate}}" ng-model="profile.user.firstName" required>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-10 pull-left">
        <div class="form-group row clearfix">
            <label for="" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.LAST_NAME'|translate}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" name="lastName" placeholder="{{::'USER.PROFILE_PAGE.LAST_NAME'|translate}}" ng-model="profile.user.lastName" required>
            </div>
        </div>
    </div>
</div>