<h3 class="with-line text-right">{{::'USER.PROFILE_PAGE.CHANGE_PASSWORD'|translate}}</h3>
<div class="row">
    <div class="col-xs-12 col-md-6 pull-left">
        <div class="form-group row clearfix">
            <label for="" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.OLDPASSWORD'|translate}}</label>

            <div class="col-sm-9">
                <input type="password" class="form-control" name="orgPassword" placeholder="{{::'USER.PROFILE_PAGE.OLDPASSWORD'|translate}}" ng-model="passwordModal.user.orgPassword">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 pull-left">
        <div class="form-group row clearfix">
            <label for="inputPassword" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.PASSWORD'|translate}}</label>

            <div class="col-sm-9">
                <input type="password" name="newPassword" class="form-control" id="inputPassword" placeholder="{{::'USER.PROFILE_PAGE.PASSWORD'|translate}}" ng-model="passwordModal.user.newPassword">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 pull-left">
        <div class="form-group row clearfix">
            <label for="inputConfirmPassword" class="col-sm-3 control-label">{{::'USER.PROFILE_PAGE.CONFIRM_PASSWORD'|translate}}</label>

            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
                       placeholder="{{::'USER.PROFILE_PAGE.CONFIRM_PASSWORD'|translate}}"
                       pattern="/^{{passwordModal.user.newPassword}}$/" ng-model="passwordModal.$newPasswordConfirm">
                <div ng-messages="passwordModal.$newPasswordConfirm.$error" ng-if="passwordResetForm.newPassword.$dirty && passwordResetForm.confirmPassword.$dirty">
                    <div ng-message="pattern">{{::'USER.PROFILE_PAGE.PASSWORD_DONOT_MATCH'|translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>